/* Created by Jonathan Pizarra */

body {
    margin:0;
    padding:0;
}
#canv{
    
}
#stats{
    border:1px solid transparent ;
    height:50px;
    width:100vw;
    position:absolute ;
      top:0;
}
#but{
    position:absolute ;
      bottom:0;
      left:40%;
}
#yt{
    position:absolute ;
      top:0;
      right:0;
    color:#4ae;
}